SEP3_T1/.idea/.idea.SEP3_T1/.idea/copilot.data.migration.ask.xml
SEP3_T1/.idea/.idea.SEP3_T1/.idea/copilot.data.migration.ask2agent.xml
SEP3_T2/.idea/workspace.xml
SEP3_T1/BlazorApp1/obj/Debug/net9.0/apphost.exe
SEP3_T1/BlazorApp1/obj/Debug/net9.0/BlazorApp1.AssemblyInfo.cs
SEP3_T1/BlazorApp1/obj/Debug/net9.0/BlazorApp1.AssemblyInfoInputs.cache
SEP3_T1/BlazorApp1/obj/Debug/net9.0/BlazorApp1.assets.cache
SEP3_T1/BlazorApp1/obj/Debug/net9.0/BlazorApp1.GeneratedMSBuildEditorConfig.editorconfig
SEP3_T1/BlazorApp1/obj/project.packagespec.json
SEP3_T1/BlazorApp1/obj/rider.project.model.nuget.info
