@page "/Customer"
@using ApiContract
@using BlazorApp1.Components.Layout
@using BlazorApp1.Services
@using RepositoryContracts
@layout AuthorizedLayout
@inject ICustomerRepository CustomerRepository
@inject ICustomerService CustomerService


<PageTitle>Customer List</PageTitle>

<h3>Customer List</h3>

@if (customers == null)
{
    <p>Loading...</p>
}
else if (!customers.Any())
{
    <p>No customers found.</p>
}
else
{
    <ul>
        @foreach (var customer in customers)
        {
            //<li>@Entities.Customer.getName - Phone: @Entities.Customer.Phone</li>
            <li>Name: @customer.Name - Phone Number: @customer.Phone</li>
        }
    </ul>
}

@code {
    private List<CustomerDto>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetCustomers();
    }

}