@page "/Customer"
@using Entities
@using InMemoryRepositories
@using RepositoryContracts
@rendermode InteractiveServer

<PageTitle>Customer List</PageTitle>

<h3>Customer List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.Name</li>
    }
</ul>


@code {
    private List<Customer> customers = [];
    protected override void OnInitialized()
    {
        customers = new List<Customer>
        {
            new Customer { Name = "Alice" },
            new Customer { Name = "Bob" },
            new Customer { Name = "Charlie" }
        };
    }

}