@page "/Customer"
@using Entities
@using global::InMemoryRepositories
@using InMemoryRepositories
@using RepositoryContracts
@rendermode InteractiveServer

<PageTitle>Customer List</PageTitle>

<h3>Customer List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>Customer.Name</li>
    }
</ul>


@code {
    
    private List<CustomerInMemoryRepository> RepoCustomer = new();
    private Customer customer => RepoCustomer.getCustomer);
   

}