@page "/"

<PageTitle>Home</PageTitle>

<h1>Cinema Demo</h1>

To assign users as admins or employees, please login with the following credentials:
<ul>
    <li>Admin User: <strong> 12345678 </strong></li>
    <li>Admin Password: <strong> admin </strong></li>
</ul>
