@page "/login"
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService AuthService
@inject TokenAuthenticationStateProvider TokenProvider
@inject IJSRuntime JsRuntime
@inject NavigationManager Nav
@inject JwtHttpClientHandler JwtHandler

@inject AuthenticationStateProvider AuthStateProvider


<div class="container mt-5">
    <div class="card shadow p-4 mx-auto" style="max-width: 400px;">
        <h3 class="text-center mb-3">Login</h3>

        <div class="form-group mb-2">
            <label>Telefonnummer</label>
            <input @bind="phone" class="form-control"/>
        </div>

        <div class="form-group mb-3">
            <label>Adgangskode</label>
            <input @bind="password" type="password" class="form-control"/>
        </div>

        <button class="btn btn-primary w-100" @onclick="LoginMethodAsync">Login</button>

        <div class="text-center mt-3">
            <p>Har du ikke en bruger?
                <a href="/Signup" class="link-primary">Lav en her!</a>
            </p>
        </div>

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info mt-3">@message</div>
        }
    </div>
</div>

@code {
    private string? phone;
    private string password = "";
    private string jwt = "";
    private string message = "";
    
    
    
/// <summary>
/// On component initialization, check if the user is already authenticated and redirect to /movies if so.
/// </summary>
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            Nav.NavigateTo("/movies", true);
        }
    }
    /// <summary>
    /// Login method that authenticates the user and stores the JWT token in local storage.
    /// </summary>
    private async Task LoginMethodAsync()
    {
        try
        {
            jwt = await AuthService.LoginAndReturnToken(phone, password);
            await TokenProvider.SignIn(jwt);
            await JsRuntime.InvokeVoidAsync("localStorage.setItem", "jwt", jwt);

            Nav.NavigateTo("/movies");
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
    
    /// <summary>
    /// Override of OnAfterRender to mark the JWT handler as ready after the first render.
    /// </summary>
    /// <param name="firstRender"></param>
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JwtHandler.MarkJsReady();
        }
    }


}