@page "/OrderDebug"
@rendermode InteractiveServer
<h3>Order Test</h3>

<button @onclick="ClickMe">Klik mig</button>

<p>@message</p>

@code {
    private string message = "Ingen klik";

    private void ClickMe()
    {
        message = "Knap klikket!";
    }

}