@page "/Order"
@using Entities

@inject IJSRuntime JSRuntime


<h3>Order - Vælg sæder</h3>

<div class="hall-container">
    <div class="screen">SKÆRM</div>

    <div class="hall">


           
        }
    </div>

    <div class="legend">
        <div class="legend-item">
            <div class="legend-color available"></div>
            <span>Ledig</span>
        </div>
        <div class="legend-item">
            <div class="legend-color selected"></div>
            <span>Valgt</span>
        </div>
        <div class="legend-item">
            <div class="legend-color booked"></div>
            <span>Booket</span>
        </div>
    </div>
</div>

@code {

    private readonly List<Seat> selectedSeats = new();

    private void ToggleSeat(Seat seat)
    {
        if (selectedSeats.Contains(seat))
        {
            selectedSeats.Remove(seat);
        }
        else
        {
            selectedSeats.Add(seat);
        }
    }


}