@page "/SignUp"
@using System.ComponentModel.DataAnnotations
@using ApiContract
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthStateProvider
@inject JwtHttpClientHandler JwtHandler

@inject NavigationManager Nav
@inject ICustomerService CustomerService
<PageTitle>Opret bruger</PageTitle>

<div class="card mb-4">
    <div class="card-header">Opret bruger</div>
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="alert alert-danger mt-3" role="alert">@errorMessage</div>
        }
        <EditForm Model="newCustomer" OnValidSubmit="SaveCustomerAsync" FormName="SignUpForm">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <label class="form-label">Navn:</label>
                <InputText @bind-Value="newCustomer.Name" class="form-control"/>
                <ValidationMessage For="() => newCustomer.Name"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Telefon nummer:</label>
                <InputText @bind-Value="newCustomer.Phone" class="form-control"/>
                <ValidationMessage For="() => newCustomer.Phone"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Email:</label>
                <InputText @bind-Value="newCustomer.Email" class="form-control"/>
                <ValidationMessage For="() => newCustomer.Email"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Adganskode:</label>
                <InputText @bind-Value="newCustomer.Password" type="password" class="form-control"/>
                <small class="text-muted">
                    Adgangskoden skal indeholde:
                    <div>
                        <li>Mindst et stort bogstav(A-Z)</li>
                        <li>Mindst et lille bogstav(a-z</li>
                        <li>Mindst et tal (0-9)</li>
                        <li>Mindt en speciel karakter (!#$%^&*?)</li>
                    </div>
                </small>
                <ValidationMessage For="() => newCustomer.Password"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Bekræft Adgangskode:</label>
                <InputText @bind-Value="newCustomer.ConfirmPassword"
                           type="password"
                           class="form-control"/>
                <ValidationMessage For="() => newCustomer.ConfirmPassword"/>
            </div>


            <button class="btn btn-success" type="submit" disabled="@isBusy" FormName="SignUpForm">Opret bruger</button>

        </EditForm>
    </div>
</div>

@code
{
    private CreateCustomerFromModel newCustomer = new();
    private bool isBusy;
    private string? errorMessage;
    
    /// <summary>
    /// Class representing the model for creating a new customer.
    /// </summary>

    private class CreateCustomerFromModel
    {
        [Required(ErrorMessage = "Telefon nummer er påkrævet")]
        [MinLength(8)]
        [MaxLength(8)]
        public string Phone { get; set; }

        [Required(ErrorMessage = "Name er påkrævet")]
        [MinLength(2)]
        [MaxLength(100)]
        public string? Name { get; set; }

        [Required(ErrorMessage = "Email er påkrævet")]
        [EmailAddress]
        public string? Email { get; set; }

        [Required(ErrorMessage = "Adgangskode er påkrævet")]
        [MinLength(8, ErrorMessage = "Adgangskode skal være længere end 8 karaktere lang")]
        [MaxLength(100, ErrorMessage = "Adgangskode skal være mindre end 100 karaktere lang")]
        [RegularExpression(@"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#$%^&*?])[A-Za-z\d!#$%^&*?]{8,}$",
            ErrorMessage = "Adgangskode skal indeholde mindst et stort bogstav, et lille bogstav, et tal og en speciel karakter")]
        public string? Password { get; set; }

        [Required(ErrorMessage = "Bekræft din adgangskode igen")]
        [Compare(nameof(Password), ErrorMessage = "Adgangskode matcher ikke")]
        public string? ConfirmPassword { get; set; }
    }
    
    /// <summary>
    /// saves a new customer using the CustomerService and navigates to the home page upon success.
    /// </summary>

    private async Task SaveCustomerAsync()
    {
       
        isBusy = true;
        try
        {
            var customerDto = new SaveCustomerDto
            (
                Phone: newCustomer.Phone!,
                Name: newCustomer.Name!,
                Email: newCustomer.Email!,
                Password: newCustomer.Password!,
                Role: "Customer"
            );

            await CustomerService.SaveCustomerAsync(customerDto);

            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isBusy = false;
        }
    }
/// <summary>
/// on component initialization, checks if the user is already authenticated and redirects to the home page if so.
/// </summary>
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            Nav.NavigateTo("/", true);
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JwtHandler.MarkJsReady();
        }
    }


}
