@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject BlazorApp1.Services.TokenAuthenticationStateProvider TokenProvider
@inject IJSRuntime Js

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>

        <AuthorizeView>
            <Authorized Context="auth">
                <span class="text-light me-3">
                    @auth.User.Identity?.Name
                    @auth.User.FindFirst("phone")?.Value
                </span>
                <button class="btn btn-outline-light btn-sm" @onclick="Logout">
                    Logout
                </button>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-outline-light btn-sm" href="/login">
                    Login
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler')?.click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="signup">Opret Bruger</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                Film
            </NavLink>
        </div>

     
        
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    Admin Panel
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer">
                Min Side
            </NavLink>
        </div>
        </AuthorizeView>

        
        
    </nav>
</div>

@code {
    private async Task Logout()
    {
        await Js.InvokeVoidAsync("localStorage.removeItem", "jwt");
        await TokenProvider.SignOut();
        Nav.NavigateTo("/login", true);
    }
}
